* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("assets/img/city-light-nightlife-defocused-blurred-glowing-abstract-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

:root,
[data-bs-theme="light"] {
    --bs-light-rgb: 248, 249, 250;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.h-100 {
    height: 100vh;
}

.text-center {
    text-align: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
}

.touch-input {
    margin: 0 0 30px 0;
    display: none;
}

.touch-input input {
    font-size: 14px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
}

#keyboardInput h3 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .touch-input {
        display: block;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .touch-input {
        display: block;
    }
    #keyboardInput h3 {
        font-size: 1rem !important;
    }
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(
        var(--bs-border-radius) - (var(--bs-border-width))
    );
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    border-radius: 20px;
    padding: 10px 0 0 0;
}
.card > hr {
    margin-right: 0;
    margin-left: 0;
}
.card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
}
.card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
    border-top: 0;
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius)
        var(--bs-card-inner-border-radius) 0 0;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-title {
    font-size: 16px;
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
}

.text-bg-light {
    color: #000 !important;
    background-color: RGBA(
        var(--bs-light-rgb),
        var(--bs-bg-opacity, 1)
    ) !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

#content {
    min-height: 100vh;
    width: 100%;
}

#resultContent {
    display: none;
}

#keyboardInput h3 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}

#result {
    font-size: 12rem;
    color: white;
}

.card,
#result {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.card:hover,
.card:focus,
.card:active,
#result:hover,
#result:focus,
#result:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.fixed-width {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#copyRight {
    font-size: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 9999;
    color: #ffffff;
}

#love {
    color: red;
}

a {
    color: rgb(182, 182, 182);
}
